* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: black;
    z-index: 999;
    position: sticky;
    top: 0px;
}

.brand {
    font-size: 30px;
    color: rgb(221, 194, 40);
    font-family: 'Eagle Lake', sans-serif;
}

.nav-links {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color:  rgba(244, 244, 244);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover{
    color: #dba931;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:  rgba(255, 255, 255);
    transition: all 0.3s ease;
}

.main {
    height: 100%; 
}

.container {
    background: url("img/background1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes animate {
    0% {
        background-image: url(img/bg3.jpg);
    }
    20% {
        background-image: url(img/bg4.jpg);
    }
    40% {
        background-image: url(img/bg5.jpg);
    }
    60% {
        background-image: url(img/background1.jpg);
    }
}

h1 {
    font-family: raleway-semibold,raleway,sans-serif;
    font-weight: bold;
    color: white;
}

.main-headings {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.main-headings h1 {
    font-size: 50px;
}

.main-headings p {
    padding: 20px 100px;
    font-size: 20px;
}

button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    transition: 0.5s all ease;
}

button:hover {
    background-color: black;
    color: #fff;
}

.overlay {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}
footer {
    position: absolute;
    background: #171717;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #aaa;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content h1 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 600px; 
    margin: 10px;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #dba931;
}

.footer-bottom {
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

section {
    display: block;
}

#services {
    background: white;
    display: grid;
    grid-template-columns: repeat(4, flex);
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;
    overflow: hidden;
    padding-bottom: 3rem;
    padding-left: 20px;
    padding-right: 20px;
}

#services h2 {
    font-size: 2rem;
    margin: 5rem 0 3rem;
    color: #dba931;
    font-family: 'Eagle Lake', sans-serif;
}

.cen {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

.service {
    display: inline-block;
    width: calc(100%/3);
    margin: 0 -2px;
}

.service h3 {
    padding-bottom: 5px;
    font-size: 18px;
}

.service i {
    color: #dba931;
    font-size: 34px;
    margin-bottom: 30px;
}

.service p {
    font-size: 15px;
    font-weight: 500;
    padding-right: 4px;
    margin: 0px 20px 0px 20px;
}

.dish-separator {
    min-height: 50vh;
    background-color: #aaa;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/butterchicken.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about {
    min-height: 95vh;
    background-color: white;
}

#about h2 {
    font-size: 2rem;
    text-align: center;
    color: #dba931;
    font-family: 'Eagle Lake', sans-serif;
}

#about-para-1 {
    text-align: center; 

}

.about-para-2 {

    text-align: center;
    padding-bottom: 8vh; 

}

#parasDiv {
    width: 50%;
    float: left;
    padding-top: 23vh;

}

#paraDiv1 {
    font-size: 18px;
    margin-top: 4vh;

}

#paraDiv2 {
    font-size: 18px;
    margin-top: 5vh;
}

#about hr {
    width: 10vh;
    clear: left;
    margin: auto;
    background: goldenrod;
    height: 2px;
    border: goldenrod;
}

#about img {
    width: 500px;
    height: 600px;
}

#imgDiv {
    text-align: right;
    position: relative;
    display: inline-block;
    z-index: 10;
    margin-top: 10vh;
    margin-left: 8vh;
}


#outlineDiv {
    position: absolute;
    width: 500px;
    height: 600px;
    border: 2px solid #dba931;
    top: 20px;
    left: 20px;
    z-index: -10;
}

#outlineDiv2 {
    position: absolute;
    width: 480px;
    height: 600px;
    border: 2px solid #dba931;
    top: 35px;
    left: 30px;
    z-index: -10;
}

#menuDiv {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: justify;
    width: clamp(250px, 90%, 900px);
}

#menu-title {
    color: #dba931;
    font-family: 'Eagle Lake', sans-serif;
}

#titleDiv {
    padding: 5% 0
}

#menu-text {
    padding-top: 0px!important;
    margin-top: 0px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#menu-text::before {
    content: '';
    background: url(img/header_decorator_gold.png) no-repeat;
    width: 50px;
    height: 15px;
    margin: 14px 14px 3px;
    position: relative;
}

#menu-text::after{
    content: '';
    background: url(img/header_decorator_gold.png) no-repeat;
    width: 50px;
    height: 15px;
    margin: 14px 14px 3px;
    position: relative;
}

.menu-section {
    display: grid;
	grid-template: repeat(3, auto) / repeat(2, auto);
	gap: 1rem 2.5rem;
    padding-bottom: 20px;
}

.menu-section h2 {
	text-align: left;
	margin-bottom: 1rem;
    color: #dba931;
}

.menu-item-container > div {
	display: grid;
	gap: 1rem;
	grid-template: auto / auto 1fr auto;
	margin-bottom: 0.3rem;
}

.menu-item-container h3 {
	font-size: 1rem;
}

.menu-item-container span {
	width: 100%;
	height: 1px;
	align-self: flex-end;
    background-color: #171717;
}

.menu-item-container > p {
	font-size: 0.8rem;
}

.menuTypes > div {
	margin-bottom: 1rem;
}

.contact-section {
    padding: 5rem 0;

}

.contact-section h1 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #dba931;
    font-family: 'Eagle Lake', sans-serif;
}

.parent {
    display: grid;
    gap: 0.5em;
    grid-template-areas:
      "main leftTop "
      "main leftLower ";
    width: 70vw;
    padding: 0.5em;
    margin: 0 auto;
}

.right-1 {
    background-color: #000;
    color: #fff;
    opacity: .75;
    width: 100%;
    height: 100%;
    display: table;
}

.right-1 p {
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    
}

.right-1 i {
    color: darkgoldenrod;
    padding-right: 10px;
}


.right-3 {
    background-color: black;
    color: #fff;
    opacity: .75;
    width: 100%;
    height: 100%;
    display: table;
}

.right-3 p {
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    
}

.right-3 i {
    color: darkgoldenrod;
    padding-right: 10px;
}

.left {
    grid-area: main;

}

.map-div iframe {
    margin-left: 0vh;
}

#outer-pdiv {
    display:table-cell;
    vertical-align:middle;
}

#outer-pdiv2 {
    display:table-cell;
    vertical-align:middle;
}

#address-pdiv {
    padding-bottom: 30px;
}

#telephone-pdiv {
    padding-bottom: 30px;
}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.643);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .menu-section {
		display: grid;
		grid-template: repeat(3, auto) / auto;
		gap: 2rem;
	}

    .parent {
        grid-template-areas: "topLeft" "lowerLeft" "main" ;
        margin: 0%;
        padding-left: 6vh;
    }

    .right-1 {
       padding-top: 20px;
       padding-bottom: 20px;
    }

    .right-3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #parasDiv {
        margin-left: 25%;
        padding-top: 15vh;
    }

    #imgDiv {
        text-align: right;
        position: relative;
        display: inline-block;
        z-index: 10;
        margin-top: 5vh;
        margin-left: 8vh;
        margin-bottom: 10vh;
    }
    .menu-section {
        padding-right: 10px;
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }











